# Environnement
.env
.env.local
.env.development
.env.production

# Logs
*.log

# Dependencies
node_modules/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Expo
.expo/
.expo-shared/
